/*  your css code here. If applicable */
#card{
	width:300px;
	border:1px solid #ddd;
	text-align:center;
	padding:15px;
	border-radius:12px;
	margin:50px auto;
	box-shadow:0 4px 10px rgba(0,0,0,0.1);
	
}
#card img{
	width:100%;
	border-radius:10px;
}
p{
	align:center;
}
#card button{
	color:white;
	background-color:#f88379;
	border:none;
	paddind:10px 20px;
	border-radius:20px;
	margin-top:10px;
	cursor:pointer;
	height:60px;
	width:100px
}